<div class="main-page">
    <app-header></app-header>
    <div class="main-content">
        <div class="text-box">
            <div class="bold-text"
            >Find the Best Franchises in Pakistan</div>
            <p class="simple-text"
            >Get all the relevant information you need in one place!</p>
            <button class="franchise-button">SEE AVAILABLE FRANCHISES</button>
        </div>
        <div class="brands-container">
            <img class="brands-image" src="../../assets/images/brands-image.svg" alt="" height="500px" width="500px">
        </div>
    </div>
</div>
<div>
    <app-footer></app-footer>
</div>
